
<div class="po-page-dynamic-table">
    <po-page-dynamic-table
      style="padding: 0 !important; margin: 0 !important; display: flex !important; justify-content: start !important;"
      [p-actions]="actions"
      [p-actions-right]="true"
      [p-service-api]="serviceApi"
    >
    </po-page-dynamic-table>
  
  
  <!-- <po-table
    class="mt-4"
    [p-columns]="columns"
    [p-sort]="true"
    [p-hide-table-search]="true"
    [p-auto-collapse]="true"
    [p-items]="items"
  >
    <ng-template p-table-column-template [p-property]="'tp_desp'" let-value>
      <span>{{ value == '1' ? 'Valor unitário' : 'Valor total' }}</span>
    </ng-template>
  
    <ng-template p-table-column-template [p-property]="'valor_unit'" let-value>
      <span>{{ value.toString().replace(',', '').replace('.', ',') }}</span>
    </ng-template>
  
    <ng-template p-table-column-template [p-property]="'cod_desp'" let-value>
      <po-button
        p-icon="po-icon-edit"
        p-type="primary"
        p-small="true"
        (p-click)="editDespesa(value)"
      ></po-button>&nbsp;
      <po-button
        p-icon="po-icon-delete"
        p-type="danger"
        p-small="true"
        p-danger="true"
        (p-click)="deleteDespesa(value)"
      ></po-button>
    </ng-template>
  </po-table> -->
</div>

<po-divider></po-divider>
<po-button
  p-label="Adicionar"
  p-icon="po-icon-plus"
  routerLink="/despesas/nova"
>
  <ng-template p-table-column-template [p-property]="'tp_desp'" let-value>
    <span>{{ value == '1' ? 'Valor unitário' : 'Valor total' }}</span>
  </ng-template>
</po-button>