
<po-divider></po-divider>
<po-button
  p-label="Adicionar"
  p-icon="po-icon-plus"
  routerLink="/despesas/nova"
></po-button>
<!-- (p-click)="addDespesa()" -->

<po-table
  class="mt-4"
  [p-columns]="columns"
  [p-sort]="true"
  [p-hide-table-search]="true"
  [p-auto-collapse]="true"
  [p-items]="items"
>
  <ng-template p-table-column-template [p-property]="'tp_desp'" let-value>
    <span>{{ value == '1' ? 'Valor unitário' : 'Valor total' }}</span>
  </ng-template>
</po-table>

<!-- <po-modal p-title="Nova despesa" [p-primary-action]="confirm">
  <form #optionsForm="ngForm">
    <div>
      <div>
        <po-input name="input" p-label="Código da despesa"> </po-input>
      </div>
      <div>
        <po-input name="input" p-label="Descrição"> </po-input>
      </div>
      <div>
        <po-input name="input" p-label="Unidade"> </po-input>
      </div>
      <div>
        <po-input name="input" p-label="Valor unitário"> </po-input>
      </div>
      <div>
        <po-input name="input" p-label="Tipo de despesa"> </po-input>
      </div>
    </div>

    <po-modal-footer [p-disabled-align]="false">
      <po-button p-danger="true" p-label="Close" (p-click)="closeModal()"> </po-button>
      <po-button p-label="Clear" (p-click)="restore()"> </po-button>
      <po-button p-kind="primary" p-label="Confirm" (p-click)="confirmDespesa()"> </po-button>
    </po-modal-footer>
  </form>
</po-modal> -->
